<div class="wrapper">
    <section class="cover-sec">
        <img src="assets/img/prof/cover-img.jpg" alt="">
    </section>
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        <img src="assets/img/prof/user-pro-img.png" alt="">
                                    </div>
                                    <div class="user_pro_status">
                                        <ul class="flw-hr">
                                            <li><a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                    title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
                                            <li><a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                    title="" class="hre">Hire</a></li>
                                        </ul>
                                        <ul class="flw-status">
                                            <li>
                                                <span>Following</span>
                                                <b>34</b>
                                            </li>
                                            <li>
                                                <span>Followers</span>
                                                <b>155</b>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="social_links">
                                        <li><a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                title=""><i class="la la-globe"></i> www.example.com</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                title=""><i class="fa fa-facebook-square"></i>
                                                Http://www.facebook.com/john...</a></li>
                                        <li><a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                title=""><i class="fa fa-twitter"></i>
                                                Http://www.Twitter.com/john...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="user-tab-sec">
                                    <h3>John Doe</h3>
                                    <div class="star-descp">
                                        <span>Graphic Designer at Self Employed</span>
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div class="product-feed-tab current" id="portfolio-dd">
                                    <div class="portfolio-gallery-sec">
                                        <h3>Portfolio</h3>
                                        <div class="gallery_pf">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img1.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img2.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img3.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img4.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img5.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img6.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img7.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img8.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img9.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                                    <div class="gallery_pt">
                                                        <img src="assets/img/prof/pf-img10.jpg"
                                                            alt="">
                                                        <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                            title=""><img
                                                                src="assets/img/prof/all-out.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="right-sidebar">
                                <div class="message-btn">
                                    <a href="https://gambolthemes.net/workwise-new/user-profile.html#" title=""><i
                                            class="fa fa-envelope"></i> Message</a>
                                </div>
                                <div class="widget widget-portfolio">
                                    <div class="sd-title">
                                        <h3>Suggestions</h3>
                                        <i class="la la-ellipsis-v"></i>
                                    </div>
                                    <div class="suggestions-list">
                                        <div class="suggestion-usd">
                                            <img src="assets/img/prof/s1.png" alt="">
                                            <div class="sgt-text">
                                                <h4>Jessica William</h4>
                                                <span>Graphic Designer</span>
                                            </div>
                                            <span><i class="la la-plus"></i></span>
                                        </div>
                                        <div class="suggestion-usd">
                                            <img src="assets/img/prof/s2.png" alt="">
                                            <div class="sgt-text">
                                                <h4>John Doe</h4>
                                                <span>PHP Developer</span>
                                            </div>
                                            <span><i class="la la-plus"></i></span>
                                        </div>
                                        <div class="view-more">
                                            <a href="https://gambolthemes.net/workwise-new/user-profile.html#"
                                                title="">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>